PORT=8082

DB_URL=jdbc:postgresql://localhost:5432/proyectoFinal
DB_NAME=proyectoFinal
DB_USER=root
DB_PASSWORD=root123

JWT_SECRET=change-this-secret-key-change-this-secret-key-123456
JWT_EXPIRATION_MS=900000

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=false
MAIL_SMTP_STARTTLS=false
APP_EMAIL_FROM=no-reply@foodly.local

PASSWORD_RESET_FRONTEND_URL=http://localhost:4200/reset-password
PASSWORD_RESET_TTL=30m
APP_CORS_ALLOWED_ORIGINS=http://localhost:4200
